<div class="content__text">
   <app-ngx-owl-carousel></app-ngx-owl-carousel>
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum illo similique molestias earum facere dolorem pariatur. 
      Distinctio obcaecati consequatur labore aliquid accusantium, perferendis optio debitis voluptas nobis eos dicta, est voluptates 
      cupiditate doloribus temporibus rerum officia unde veritatis aperiam, molestiae libero! Dolores numquam expedita vero sint nihil
       necessitatibus a aliquid distinctio fuga voluptatum dolorum minima earum nulla impedit ex molestiae nemo qui rem, aperiam, animi id 
       aspernatur. Laboriosam, qui, aspernatur repudiandae cupiditate, quod reprehenderit adipisci a eligendi quia illum repellat at suscipit 
       temporibus dolores eos optio ipsam! Placeat fugit libero maxime, rerum quasi, ipsum perferendis ipsam doloribus dolorum aliquid dicta.
   </p>

   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum illo similique molestias earum facere dolorem pariatur. 
      Distinctio obcaecati consequatur labore aliquid accusantium, perferendis optio debitis voluptas nobis eos dicta, est voluptates 
      cupiditate doloribus temporibus rerum officia unde veritatis aperiam, molestiae libero! Dolores numquam expedita vero sint nihil
       necessitatibus a aliquid distinctio fuga voluptatum dolorum minima earum nulla impedit ex molestiae nemo qui rem, aperiam, animi id 
       aspernatur. Laboriosam, qui, aspernatur repudiandae cupiditate, quod reprehenderit adipisci a eligendi quia illum repellat at suscipit 
       temporibus dolores eos optio ipsam! Placeat fugit libero maxime, rerum quasi, ipsum perferendis ipsam doloribus dolorum aliquid dicta.
   </p>
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum illo similique molestias earum facere dolorem pariatur. 
      Distinctio obcaecati consequatur labore aliquid accusantium, perferendis optio debitis voluptas nobis eos dicta, est voluptates 
      cupiditate doloribus temporibus rerum officia unde veritatis aperiam, molestiae libero! Dolores numquam expedita vero sint nihil
       necessitatibus a aliquid distinctio fuga voluptatum dolorum minima earum nulla impedit ex molestiae nemo qui rem, aperiam, animi id 
       aspernatur. Laboriosam, qui, aspernatur repudiandae cupiditate, quod reprehenderit adipisci a eligendi quia illum repellat at suscipit 
       temporibus dolores eos optio ipsam! Placeat fugit libero maxime, rerum quasi, ipsum perferendis ipsam doloribus dolorum aliquid dicta.Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum illo similique molestias earum facere dolorem pariatur. 
      Distinctio obcaecati consequatur labore aliquid accusantium, perferendis optio debitis voluptas nobis eos dicta, est voluptates 
      cupiditate doloribus temporibus rerum officia unde veritatis aperiam, molestiae libero! Dolores numquam expedita vero sint nihil
       necessitatibus a aliquid distinctio fuga voluptatum dolorum minima earum nulla impedit ex molestiae nemo qui rem, aperiam, animi id 
       aspernatur. Laboriosam, qui, aspernatur repudiandae cupiditate, quod reprehenderit adipisci a eligendi quia illum repellat at suscipit 
       temporibus dolores eos optio ipsam! Placeat fugit libero maxime, rerum quasi, ipsum perferendis ipsam doloribus dolorum aliquid dicta.
   </p>
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum illo similique molestias earum facere dolorem pariatur. 
      Distinctio obcaecati consequatur labore aliquid accusantium, perferendis optio debitis voluptas nobis eos dicta, est voluptates 
      cupiditate doloribus temporibus rerum officia unde veritatis aperiam, molestiae libero! Dolores numquam expedita vero sint nihil
       necessitatibus a aliquid distinctio fuga voluptatum dolorum minima earum nulla impedit ex molestiae nemo qui rem, aperiam, animi id 
       aspernatur. Laboriosam, qui, aspernatur repudiandae cupiditate, quod reprehenderit adipisci a eligendi quia illum repellat at suscipit 
       temporibus dolores eos optio ipsam! Placeat fugit libero maxime, rerum quasi, ipsum perferendis ipsam doloribus dolorum aliquid dicta.
   </p>
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum illo similique molestias earum facere dolorem pariatur. 
      Distinctio obcaecati consequatur labore aliquid accusantium, perferendis optio debitis voluptas nobis eos dicta, est voluptates 
      cupiditate doloribus temporibus rerum officia unde veritatis aperiam, molestiae libero! Dolores numquam expedita vero sint nihil
       necessitatibus a aliquid distinctio fuga voluptatum dolorum minima earum nulla impedit ex molestiae nemo qui rem, aperiam, animi id 
       aspernatur. Laboriosam, qui, aspernatur repudiandae cupiditate, quod reprehenderit adipisci a eligendi quia illum repellat at suscipit 
       temporibus dolores eos optio ipsam! Placeat fugit libero maxime, rerum quasi, ipsum perferendis ipsam doloribus dolorum aliquid dicta.Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum illo similique molestias earum facere dolorem pariatur. 
      Distinctio obcaecati consequatur labore aliquid accusantium, perferendis optio debitis voluptas nobis eos dicta, est voluptates 
      cupiditate doloribus temporibus rerum officia unde veritatis aperiam, molestiae libero! Dolores numquam expedita vero sint nihil
       necessitatibus a aliquid distinctio fuga voluptatum dolorum minima earum nulla impedit ex molestiae nemo qui rem, aperiam, animi id 
       aspernatur. Laboriosam, qui, aspernatur repudiandae cupiditate, quod reprehenderit adipisci a eligendi quia illum repellat at suscipit 
       temporibus dolores eos optio ipsam! Placeat fugit libero maxime, rerum quasi, ipsum perferendis ipsam doloribus dolorum aliquid dicta.
   </p>
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum illo similique molestias earum facere dolorem pariatur. 
      Distinctio obcaecati consequatur labore aliquid accusantium, perferendis optio debitis voluptas nobis eos dicta, est voluptates 
      cupiditate doloribus temporibus rerum officia unde veritatis aperiam, molestiae libero! Dolores numquam expedita vero sint nihil
       necessitatibus a aliquid distinctio fuga voluptatum dolorum minima earum nulla impedit ex molestiae nemo qui rem, aperiam, animi id 
       aspernatur. Laboriosam, qui, aspernatur repudiandae cupiditate, quod reprehenderit adipisci a eligendi quia illum repellat at suscipit 
       temporibus dolores eos optio ipsam! Placeat fugit libero maxime, rerum quasi, ipsum perferendis ipsam doloribus dolorum aliquid dicta.
   </p>

</div>